*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color:rgb(229, 255, 255)
}

h1{
    color:#4f46e5;
}

h2{
    margin-bottom:15px;
    color:#4f46e5;
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:8px;
}
.container{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.hero{
    background-color: rgb(255,255,255);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1)
}

.avatar{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #4f46e5;
}

.subtitle{
    margin-top:17px;
    color:#c8c8c8;
}

.section{
    background:white;
    padding:30px;
    margin-top:25px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:#4f46e5;
    color:white;
    padding:12px 24px;
    text-decoration:none;
    border-radius:10px;
}

.btn:hover{
    opacity:0.9;
}
.p2{
    color: #3445d8;
    text-align:center;
    line-height: 50px;
    text-decoration: underline;
    text-transform: uppercase;
}